.home_container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content_aria {
    width: 50%;
    height: 430px;
    margin: 0 auto;
    background: white;
}