@import './variable.scss';

.quiz_container {
    
    display: flex;
    justify-content: center;
    align-items: center;

    .sucess{

        background-color: green !important;
        &::before {
            content: '✔';
            font-size: 1rem;
            color: white;
            font-weight: 700;
            position: absolute;
            margin-left: 10px;
            
        }
        
        

    }
    .hidden{
        background: red !important;
        &::before {
            content: '☓';
            font-size: 1rem;
            color: white;
            font-weight: 700;
            position: absolute;
            margin-left: 10px;
            
        }

    }
    .quiz_iteam {
        .content{
            margin-left: 30px;
        }
        width: 400px;
        height: 30px;
        background: $backgroundColor;
        padding: 10px 30px;
        display: flex;
        align-items: center;
        border-radius: 10px;
        cursor: pointer;
        border: none;
        margin-top: 10px;

        &:focus-within {
            background: #4289FF;
            color: white;
        }

        &:hover {
            background: #4289FF;
            color: white;
        }

        & input[type="radio"] {
            appearance: none;
            border-radius: 5px;
            width: 1.5rem;
            height: 1.5rem;
            border: 2px solid gray;
            transition: 0.2s all linear;

            &:checked {
                border: 2px solid white;
                outline: unset;

                &::before {
                    content: '✔';
                    font-size: 1rem;
                    color: white;
                    font-weight: 700;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
            }
        }

    }




}

.error {
    text-align: center;
    margin-top: 5px;
}