@import './variable.scss';


.quiz_container {

    .quiz_iteam {
        width: 50%;
        background: $backgroundColor;
        padding: 10px 30px;
        display: flex;
        align-items: center;
        border-radius: 10px;
        cursor: pointer;
        border: none;

        span {
            margin-left: 40px;
        }

        &:focus-within {
            background: #4289FF;
            color: white;
        }

        &:hover {
            background: #4289FF;
            color: white;
        }

        & input[type="radio"] {
            appearance: none;
            border-radius: 5px;
            width: 1.5rem;
            height: 1.5rem;
            border: 2px solid gray;
            transition: 0.2s all linear;
            &:checked {
                border: 2px solid white;
                outline: unset;
                &::before{
                    content: '✔';
                    font-size: 1rem;
                    color: white;
                    font-weight: 700;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
                }
        }

    }

    .quiz-btn {
        display: flex;
        justify-content: center;
        padding: 10px;
    }

    .quiz-btn button {
        border: none;
        height: 35px;
        width: 95px;
        border-radius: 20px;
        margin: 10px;
        cursor: pointer;
    }

    .next_btn {
        background: linear-gradient(335.64deg, #FF589B -19.22%, #FF136F 118.87%);
    }


}

.error {
    text-align: center;
    margin-top: 5px;
}